body{
    background-color: rgb(247, 85, 10);
}
.center{
    text-align:center;
}
nav{
    background-color: black;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
nav li a{
    text-decoration: none;
    color:white;
}
nav li:hover{
    background-color: #737373;
}
nav li{
    padding: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li{
    display: block;
}