body{
    background-color: rgb(31, 79, 145);
}
.img{
    position: relative;
    top: -100px;
    height: 400px;
    width: 700px;
    left:300px;
    border-color: rgb(31, 79, 145);
}
.dati{
    position: relative;
    top: -170px;
}
.btn{
    position: relative;
    top:-140px;
}
.para{
    font-family: 'TIMSans','Roboto',sans-serif;
    color:rgb(31, 79, 145);
}
.descr{
    font-family: 'TIMSans','Roboto',sans-serif;
    color:rgb(0, 0, 0);
}